#dashboard-section{
  background-image:url("https://s11.postimg.org/3l6e3kmlf/Untitled_design_16.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dashboard-title{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 4%;
  padding-top:5%;
  background-color: #8ABDD2;
  margin-top: -20px;
}

#dash_layout {
  text-align: center;
  margin-top: 6em;
}


.daily-quote{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-align: center; 
  padding-bottom: 1%;
  padding-top: 1%;
  font-size: -webkit-xxx-large;
}


#quote{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color:black;
  font-weight: bold;
  background-color:#99d3df;
  padding-bottom: 4%;
  margin-top: -27px;
  padding-top: 2%;
  color: white;
}

#quoteButton{
  padding-bottom: 4%;
}



#inbox {
  background-color: #EBF092;
  height: 10em;
  width: 10em;
  border-radius: 50%;
  position: relative;
  text-align: center;
  margin-top: 15px;
  display: inline-block;
  line-height: 10em;
  margin-right: 4em;
  margin-left: 2em;

}

#journal {
  background-color: #99d3df;
  height: 10em;
  width: 10em;
  border-radius: 50%;
  position: relative;
  text-align: center;
  margin-top: 15px;
  display: inline-block;
  line-height: 10em;
  margin-right: 4em;
}

#haven {

  background-color: #92E38A;
  height: 10em;
  width: 10em;
  border-radius: 50%;
  position: relative;
  text-align: center;
  margin-top: 15px;
  display: inline-block;
  line-height: 10em;
  margin-right: 4em;
}

#settings {
  background-color: #E1A8F0;
  height: 10em;
  width: 10em;
  border-radius: 50%;
  position: relative;
  text-align: center;
  margin-top: 15px;
  display: inline-block;
  line-height: 10em;
  margin-right: 4em;
}

#logout {
  background-color: #cdcdcd;
  height: 10em;
  width: 10em;
  border-radius: 50%;
  position: relative;
  text-align: center;
  margin-top: 15px;
  display: inline-block;
  line-height: 10em;
  margin-right: 4em;
}

#sos {
  background-color:pink;
  height: 10em;
  width: 10em;
  border-radius: 50%;
  position: relative;
  text-align: center;
  margin-top: 15px;
  display: inline-block;
  line-height: 10em;
  margin-bottom: 92px;
}

#sos_layout {
  text-align: center;
  margin-right: 3em;
  margin-top: 5em;
}
